@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
    /* ----- Colors ----- */
    --clr-blue: rgb(11, 13, 23);
    --clr-grey: rgb(128, 128, 128);
    --clr-purple: rgb(208, 214, 249);
    --clr-transparent-black: rgba(0, 0, 0, 0.7);
    --clr-transparent-white: rgba(255, 255, 255, 0.1);
    --clr-white: rgb(255, 255, 255);
    
    /* ----- Fonts ----- */
    --ff-barlow: 'Barlow', sans-serif;
    --ff-barlow-condensed: 'Barlow Condensed', sans-serif;
    --ff-bellefair: 'Bellefair', serif;

    /* ----- Font Sizes ----- */
    --fs-900: clamp(4.75rem, 20vw, 5.5rem);
    --fs-800: clamp(2.25rem, 10vw, 3rem);
    --fs-700: clamp(1.35rem, 7vw, 1.75rem);
    --fs-600: clamp(1.15rem, 5vw, 1.35rem);
    --fs-500: clamp(0.8rem, 3.5vw, 0.9rem);
    --fs-400: clamp(1rem, 5vw, 1.25rem);
    --fs-300: clamp(0.75rem, 4vw, 1rem);
    --fs-200: clamp(0.75rem, 3vw, 0.79rem);
}

@media (min-width: 481px) {
    :root {
        --fs-900: clamp(5.5rem, 17vw, 7.25rem);
        --fs-800: clamp(3rem, 7vw, 3.75rem);
        --fs-700: clamp(1.75rem, 5vw, 2.15rem);
        --fs-600: clamp(1.35rem, 4.5vw, 1.5rem);
        --fs-500: clamp(0.75rem, 3vw, 1.25rem);
        --fs-400: clamp(1.25rem, 3vw, 1.45rem);
        --fs-300: clamp(0.5rem, 2.5vw, 1rem);
        --fs-200: clamp(0.8rem, 2.5vw, 0.9rem);
    }
}

@media (min-width: 769px) {
    :root {
        --fs-900: clamp(7.25rem, 15vw, 8.5rem);
        --fs-800: clamp(3.75rem, 10vw, 4.5rem);
        --fs-700: clamp(2.15rem, 5vw, 2.5rem);
        --fs-600: clamp(1.5rem, 3vw, 1.75rem);
        --fs-500: clamp(1.25rem, 2vw, 1.5rem);
        --fs-400: 1.5rem;
        --fs-300: 1rem;
        --fs-200: clamp(0.9rem, 2vw, 1rem);
    }
}

/* ----------------- */
/* Utility Classes   */
/* ----------------- */

/* ----- General ----- */
.flex {
    display: flex;
    gap: var(--gap);
}

.grid {
    display: grid;
    gap:var(--gap);
}

/* ----- Colors ----- */
.bg-blue { background-color: var(--clr-blue); }
.bg-purple { background-color: var(--clr-purple); }
.bg-transparent-black { background-color: var(--clr-transparent-black); }
.bg-transparent-white { background-color: var(--clr-transparent-white); }
.bg-white { background-color: var(--clr-white);}

.text-blue { color: var(--clr-blue); }
.text-grey { color: var(--clr-grey); }
.text-purple { color: var(--clr-purple); }
.text-white { color: var(--clr-white); }

/* ----- Fonts ----- */
.bold { font-weight: bold; }
.ff-barlow { font-family: var(--ff-barlow); }
.ff-barlow-condensed { font-family: var(--ff-barlow-condensed); }
.ff-bellefair { font-family: var(--ff-bellefair); }
.light { font-weight: lighter; }
.uppercase { text-transform: uppercase; }

/* ----- Letter Spacing ----- */
.spacing-1 { letter-spacing: 4.75px; }
.spacing-2 { letter-spacing: 2.7px; }
.spacing-3 { letter-spacing: 2.35px; }
.height-1 { line-height: 1.5rem; }
.height-2 { line-height: 1.3rem; }

/* ----- Font Sizes ----- */
.fs-h1 { font-size: var(--fs-900); }
.fs-h2 { font-size: var(--fs-800); }
.fs-h3 { font-size: var(--fs-700); }
.fs-h4 { font-size: var(--fs-600); }
.fs-h5 { font-size: var(--fs-500); }
.fs-sh1 { font-size: var(--fs-400); }
.fs-sh2 { font-size: var(--fs-300); }
.fs-nav { font-size: var(--fs-300); }
.fs-body { font-size: var(--fs-200); }
/* ------------------------------------------------ */

/* ----------------- */
/* Home Mobile       */
/* ----------------- */

/* ----- Body ----- */
.home {
    background: url('../img/home/background-home-mobile.jpg') center center / cover no-repeat fixed !important;
    height: 100%;
    width: 100%;
}

/* ----- Grid Container ----- */
.container {
    grid-template-areas:
    'header header'
    'home-content home-content'
    'explore explore';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    height: 100%;
    margin: auto;
    width: 100%;
}

/* ----- Header ----- */
.container header { grid-area: header; }

/* ----- Logo ----- */
.logo {
    display: block;
    margin: 2rem 0 0 2rem;
}

/* ----- Main Navigation ----- */
.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

@supports (backdrop-filter: blur(1rem)) {
    .navigation {
        backdrop-filter: blur(1rem);
        background-color: var(--clr-transparent-white);
    }
}

.navigation li {
    padding: 1rem;
    position: relative;
}

.navigation a { text-decoration: none; }

nav a:hover { color: var(--clr-purple); }

nav a::before {
    background: var(--clr-purple);
    content: '';
    display: block;
    height: 2px;
    position: relative;
    top: 1.75rem;
    transition: all ease-in-out 250ms;
    width: 0%;
}

nav a:hover::before { width: 60%; }

/* ----- Button #1 ----- */
.menu-toggle { display: none; }

@media (max-width: 480px) {
    .navigation {
        inset: 0 0 0 30%;
        padding: 8rem 1.5rem;
        position: fixed;
        z-index: 10;
    }

    .menu-toggle {
        aspect-ratio: 1;
        background: transparent url('../img/shared/icon-hamburger.svg') no-repeat;
        color: transparent;
        display: block;
        position: absolute;
        right: 2rem;
        top: 2.9rem;
        width: 2rem;
        z-index: 20;
    }

    .active { display: block; }
}

/* ----- Main ----- */
.container .home-content {
    align-items: center;
    flex-direction: column;
    grid-area: home-content;
    height: 45vh;
    justify-content: center;
    text-align: center;
}

/* ----- Aside ----- */
.container .explore {
    align-items: center;
    flex-direction: column;
    grid-area: explore;
    height: 30vh;
    justify-content: center;
}

/* ----- Button #2 ----- */
button {
    border: solid 1px var(--clr-white);
    border-radius: 50%;
    height: 10rem;
    transition: background-color .4s, color .4s;
    width: 10rem;
}

button:hover {
    background-color: var(--clr-transparent-white);
    color: var(--clr-white);
}

/* ----------------- */
/* Home Tablet       */
/* ----------------- */
@media (min-width: 481px) {
    /* ----- Body ----- */
    .home { background: url('../img/home/background-home-tablet.jpg') center center / cover no-repeat fixed !important; }

    /* ----- Grid Container ----- */
    .container {
        grid-template-areas: 
        'header header'
        'home-content home-content'
        'explore explore';
    }

    /* ----- Header ----- */
    .container header { grid-area: header; }

    header {
        align-items: center;
        justify-content: space-between;
    }

    /* ----- Logo ----- */
    .logo { margin: 2rem; }

    /* ----- Main Navigation ----- */
    .navigation {
        display: inline-block;
        box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
        padding: clamp(1rem, 3.4vw, 1.5rem);
    }

    .navigation li {
        display: inline-block;
        padding: 0.5rem;
    }

    .navigation span { display: none; }

    nav a::before { top: 2.5rem; }

    nav a:hover::before { width: 100%; }

    /* ----- Main ----- */
    .container .home-content { grid-area: home-content; }

    .home-content p { line-height: 1.5rem; }

    /* ----- Aside ----- */
    .container .explore { grid-area: explore; }

    /* ----- Button #2 ----- */
    button {
        height: 13rem;
        width: 13rem;
    }
}

/* ----------------- */
/* Home Desktop      */
/* ----------------- */
@media (min-width: 769px) {
    /* ----- Body ----- */
    .home { background: url('../img/home/background-home-desktop.jpg') center center / cover no-repeat fixed !important; }

    /* ----- Grid Container ----- */
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'header header'
        'home-content explore';
    }

    /* ----- Header ----- */
    .container header { grid-area: header; }

    /* ----- Logo ----- */
    .logo { margin: 3rem; }

    /* ----- Main Navigation ----- */
    .navigation { 
        padding-right: clamp(0.3rem, 10vw, 10rem); 
        padding-left: clamp(0.3rem, 3.5vw, 4rem);
    }

    .navigation li { padding: clamp(0.3rem, 1vw, 1rem); }
    
    .navigation span { display: inline-block; }

    /* ----- Main ----- */
    .container .home-content {
        grid-area: home-content;
        height: 80vh;
        margin-left: 5rem;
        width: 50vw;
    }

    /* ----- Aside ----- */
    .container .explore { 
        align-items: center;
        flex-direction: column;
        grid-area: explore;
        height: 80vh;
        justify-content: center;
        margin-right: 5rem;
    }

    /* ----- Button #2 ----- */
    button {
        height: 14rem;
        width: 14rem;
    }
}
/* ------------------------------------------------ */

/* ------------------ */
/* Destination Mobile */
/* ------------------ */

/* ----- Body ----- */
.destination {
    background: url('../img/destination/background-destination-mobile.jpg') center center / cover no-repeat fixed !important;
    height: 100%;
    width: 100%;
}

/* ----- Grid Container ----- */
.destination-container {
    grid-template-areas:
    'header header'
    'pick-dest pick-dest'
    'dest-content dest-content';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    height: 100%;
    margin: auto;
    width: 100%;
}

/* ----- Header ----- */
.destination-container header { grid-area: header; }

/* ----- Main ----- */
.destination-container .pick-dest {
    align-items: center;
    flex-direction: column;
    grid-area: pick-dest;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

/* ----- Slider Nav ----- */
.slider-nav {
    --gap: 1.5rem;
    margin: 1rem;
    list-style: none;
}

.slider-nav li { margin-bottom: 1rem; }

.slider-nav a { text-decoration: none; }

.slider-nav a::before { top: 2rem; }

.slider-nav a:hover::before { width: 100%; }

/* ----- Section ----- */
.destination-container .dest-content { grid-area: dest-content; }

/* ----- Slider ----- */
ul.slider { position: relative; }

ul.slider li {
    background: url('../img/destination/background-destination-mobile.jpg') center center / cover no-repeat fixed;
    opacity: 0;
    position: absolute;
    transition: opacity .4s;
}

ul.slider li:first-child { opacity: 1; }

ul.slider li:target { opacity:1; }

.slider li {
    opacity: 0; 
    padding: 0.5rem;
    transition: opacity .4s;
    width: 100vw;
}

.dest-container-images {
    align-items: center;
    flex-direction: column;
}

.dest-images { 
    margin-bottom: 2rem;
    width: 13rem; 
}

.dest-container-text {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

hr { margin: 1.5rem 2rem; }

.dest-container-time { flex-direction: column; }

.dest-time-space { margin: 0.5rem 0;}


/* ------------------ */
/* Destination Tablet */
/* ------------------ */
@media (min-width: 481px) {
    /* ----- Body ----- */
    .destination { background: url('../img/destination/background-destination-tablet.jpg') center center / cover no-repeat fixed !important; }

    /* ----- Main ----- */
    .destination-container .pick-dest { margin-top: 1rem; }

    .pick-dest h1 {
        left: 3rem;
        letter-spacing: 4.75px;
        position: absolute;
    }

    /* ----- Slider Nav ----- */
    .slider-nav { margin-top: 3rem; }

    .slider-nav a::before { top: 2.5rem; }

    /* ----- Slider ----- */
    ul.slider li { background: url('../img/destination/background-destination-tablet.jpg') center center / cover no-repeat fixed; }

    .dest-images { width: 15.5rem; }

    .dest-container-time { 
        flex-direction: row;
        justify-content: space-around;
    }

    .dest-time-space { margin: 0; }
}

/* ------------------- */
/* Destination Desktop */
/* ------------------- */
@media (min-width: 769px) {
    /* ----- Body ----- */
    .destination { background: url('../img/destination/background-destination-desktop.jpg') center center / cover no-repeat fixed !important; }

    /* ----- Slider Nav ----- */
    .slider-nav { margin: 5rem 0 2rem; }

    /* ----- Slider ----- */
    ul.slider li { background: url('../img/destination/background-destination-desktop.jpg') center center / cover no-repeat fixed; }

    .dest-images { 
        margin: 1rem;
        width: 21rem; 
    }

    #moon, #mars, #europa, #titan {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .dest-container-text {
        margin-left: 4vw;
        text-align: left;
    }

    hr { margin: 2rem 0;}

    .dest-container-time { justify-content: space-between; }
}
/* ------------------------------------------------ */

/* ------------------ */
/* Crew Mobile        */
/* ------------------ */

/* ----- Body ----- */
.crew {
    background: url('../img/crew/background-crew-mobile.jpg') center center / cover no-repeat fixed !important;
    height: 100%;
    width: 100%;
}

/* ----- Grid Container ----- */
.crew-container {
    grid-template-areas:
    'header header'
    'meet-crew meet-crew'
    'crew-content crew-content';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    height: 100%;
    margin: auto;
    width: 100%;
}

/* ----- Header ----- */
.crew-container header { grid-area: header; }

/* ----- Main ----- */
.crew-container .meet-crew {
    align-items: center;
    flex-direction: column;
    grid-area: meet-crew;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

/* ----- Slider Nav ----- */
.slider-nav {
    --gap: 1.5rem;
    margin: 1rem;
    list-style: none;
}

.slider-nav li { margin-bottom: 1rem; }

.slider-nav a { text-decoration: none; }

.slider-nav a::before { top: 2rem; }

.slider-nav a:hover::before { width: 100%; }

/* ----- Section ----- */
.crew-container .crew-content { grid-area: crew-content; }

/* ----- Slider ----- */
ul.slider-crew { position: relative; }

ul.slider-crew li {
    background: url('../img/crew/background-crew-mobile.jpg') center center / cover no-repeat fixed;
    opacity: 0;
    position: absolute;
    transition: opacity .4s;
}

ul.slider-crew li:first-child { opacity: 1; }

ul.slider-crew li:target { opacity:1; }

.slider-crew li {
    height: 70vh;
    opacity: 0; 
    padding: 0.5rem;
    transition: opacity .4s;
    width: 100vw;
}

.crew-container-images {
    align-items: center;
    flex-direction: column;
}

.crew-images { width: 12rem; }

.crew-container-text {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.crew-container-text hr { margin: 0 2rem 1.5rem; }

.crew-container-text p { margin: 0.25rem; }

/* ------------------ */
/* Crew Tablet        */
/* ------------------ */
@media (min-width: 481px) {
    /* ----- Body ----- */
    .crew { background: url('../img/crew/background-crew-tablet.jpg') center center / cover no-repeat fixed !important; }

    /* ----- Main ----- */
    .crew-container .meet-crew { margin-top: 1rem; }

    .meet-crew h1 {
        left: 3rem;
        letter-spacing: 4.75px;
        position: absolute;
    }

    /* ----- Slider Nav ----- */
    .slider-nav {
        letter-spacing: 2.7px;
        margin-top: 3rem;
    }

    .slider-nav a::before { top: 2.5rem; }

    /* ----- Slider ----- */
    ul.slider-crew li { background: url('../img/crew/background-crew-tablet.jpg') center center / cover no-repeat fixed; }

    .crew-images { width: 14rem; }
}

/* ------------------ */
/* Crew Desktop       */
/* ------------------ */
@media (min-width: 769px) {
    /* ----- Body ----- */
    .crew { background: url('../img/crew/background-crew-desktop.jpg') center center / cover no-repeat fixed !important; }

    /* ----- Slider Nav ----- */
    .slider-nav { 
        letter-spacing: 2.7px;
        margin: 5rem 0 2rem; 
    }

    /* ----- Slider ----- */
    ul.slider-crew li { background: url('../img/crew/background-crew-desktop.jpg') center center / cover no-repeat fixed; }

    .slider-crew li { height: 60vh; }

    .crew-images { 
        border-bottom: var(--clr-white) 2px solid;
        width: 17rem; 
    }

    #commander, #specialist, #pilot, #engineer {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .crew-container-text {
        margin-left: 4vw;
        text-align: left;
    }

    .crew-container-text hr { margin: 0.5rem 0; }
}
/* ------------------------------------------------ */

/* ------------------ */
/* Technology Mobile  */
/* ------------------ */

/* ----- Body ----- */
.technology {
    background: url('../img/technology/background-technology-mobile.jpg') center center / cover no-repeat fixed !important;
    height: 100%;
    width: 100%;
}

/* ----- Grid Container ----- */
.technology-container {
    grid-template-areas:
    'header header'
    'tech-terminology tech-terminology'
    'tech-content tech-content';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    height: 100%;
    margin: auto;
    width: 100%;
}

/* ----- Header ----- */
.technology-container header { grid-area: header; }

/* ----- Main ----- */
.technology-container .tech-terminology {
    align-items: center;
    flex-direction: column;
    grid-area: tech-terminology;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

/* ----- Section ----- */
.technology-container .tech-content { grid-area: tech-content; }

/* ----- Slider ----- */
ul.slider-tech { position: relative; }

ul.slider-tech li {
    background: url('../img/technology/background-technology-mobile.jpg') center center / cover no-repeat fixed;
    opacity: 0;
    position: absolute;
    transition: opacity .4s;
}

ul.slider-tech li:first-child { opacity: 1; }

ul.slider-tech li:target { opacity:1; }

.slider-tech li {
    opacity: 0; 
    padding: 0.5rem;
    transition: opacity .4s;
    width: 100vw;
}

.tech-container-images {
    align-items: center;
    flex-direction: column;
}

.tech-images { 
    border: var(--clr-white) solid 1px;
    margin: 1rem 0 3rem;
    width: 100vw; 
}

.tech-images-2 { display: none; }

.tech-container-text {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tech-container-text p { margin: 0.25rem; }

/* ------------------ */
/* Technology Tablet  */
/* ------------------ */
@media (min-width: 481px) {
    /* ----- Body ----- */
    .technology { background: url('../img/technology/background-technology-tablet.jpg') center center / cover no-repeat fixed !important; }

    /* ----- Main ----- */
    .technology-container .tech-terminology { margin-top: 1rem; }

    .tech-terminology h1 {
        left: 3rem;
        letter-spacing: 4.75px;
        position: absolute;
    }

    /* ----- Slider Nav ----- */
    .slider-nav { margin-top: 3rem; }

    .slider-nav a::before { top: 2.5rem; }

    /* ----- Slider ----- */
    ul.slider-tech li { background: url('../img/technology/background-technology-tablet.jpg') center center / cover no-repeat fixed; }

    .tech-images-2 { display: none; }
}

/* ------------------ */
/* Technology Desktop */
/* ------------------ */
@media (min-width: 769px) {
    /* ----- Body ----- */
    .technology { background: url('../img/technology/background-technology-desktop.jpg') center center / cover no-repeat fixed !important; }

    /* ----- Slider Nav ----- */
    .slider-nav { margin: 5rem 0 2rem; }

    /* ----- Slider ----- */
    ul.slider-tech li { background: url('../img/technology/background-technology-desktop.jpg') center center / cover no-repeat fixed; }

    .slider-tech li { height: 50vh; }

    .tech-images { display: none; }

    .tech-images-2 {
        border: var(--clr-white) 1px solid;
        display: block;
        width: 20rem;
    }

    #vehicle, #spaceport, #capsule {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .tech-container-text {
        margin-left: 4vw;
        text-align: left;
    }
}